.Contact {
    padding: 3rem 4rem;
}

.Contact>h2 {
    margin: 0;
    text-align: start;
    font-family: Roboto Slab, serif;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color: var(--body_color);
    font-weight: 700;
}

.Contact>h2::after {
    content: "";
    margin-left: 1rem;
    position: relative;
    display: inline-block;
    height: 2px;
    width: 200px;
    background: linear-gradient(90deg, #fa5252, #dd2476);
}

.two-contacts {
    /* display: flex; */
    display: grid;
    /* justify-content: space-evenly; */
    column-gap: 1rem;
}

.two-contacts>div {
    display: flex;
    background-color: red;
}

.two-contacts>div>div>p {
    text-align: start;
}