.Home {
    border-radius: 20px;
    background-color: var(--body_background);
    overflow: hidden;
}

.about-me {
    padding: 3rem 4rem;
}

.about-me>h2 {
    margin: 0;
    text-align: start;
    font-family: Roboto Slab, serif;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color: var(--body_color);
    font-weight: 700;
}

.about-me>h2::after {
    content: "";
    margin-left: 1rem;
    position: relative;
    display: inline-block;
    height: 2px;
    width: 200px;
    background: linear-gradient(90deg, #fa5252, #dd2476);
}

.info-about-me {
    padding-top: 30px;
    padding-right: 64px;
    text-align: left;
    color: var(--body_secondary_color);
}



.what-i-do {
    padding: 0 56px;
}

.what-i-do>h3 {
    text-align: start;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--body_color);
}