.About {
    width: 400px;
    background: var(--body_background);
    border-radius: 20px;
    margin-bottom: 400px;
    /* padding-bottom: 100px; */
    margin-top: 100px;
    position: sticky;
    top: 11rem;
}

.About>div {
    position: relative;
    /* display: flex; */

}

.About>div>img {
    width: 240px;
    height: 240px;
    border-radius: 16px;
    position: absolute;
    top: -120px;
    left: 20%;
}

.About>div>div.top {
    padding-top: 144px;

}

.About>div>div.top>h1 {
    margin: 0;
    color: var(--body_color);
}

.About>div>div.top>h3 {
    margin: 4px auto 16px;
    display: inline-block;
    padding: 6px 20px;
    color: var(--body_secondary_color);
    background-color: var(--secondary_color);
    font-weight: 500;
    border-radius: 5px;
}

.links {
    height: 400px;
}

.cv_download {
    background: linear-gradient(90deg, #fa5252, #dd2476);
    padding: 12px 32px;
    border-radius: 35px;
    color: #ffffff;
    font-size: 1.125rem
}

.cv_download>img {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.About>.cv {
    margin-top: 34px;
    padding-bottom: 50px;
}