:root {
  --body_background_color: rgb(166, 251, 255);
  --body_background: #ffffff;
  --secondary_color: rgb(243, 246, 246);
  --footer_color: #F8FBFB;
  --svg_color: #FFFFFF;
  --body_color: black;
  --body_secondary_color: #7b7b7b;
  --border_color: #E3E3E3;
  /* --link_color: navy; */
  --button_hover_color: linear-gradient(90deg, #fa5252, #dd2476);
  --background-color-for-do: rgb(243, 250, 255);
  --border-for-do: none;
  --background-for-form: #F8FBFB;
  --background-for-edu-item-pr: rgb(255, 244, 244);
  --background-for-edu-item-sc: rgb(238, 245, 250);
  --border-color-2: white !important;
  --background-color-for-skills-and-knowladge: rgb(248 251 251)
}

[data-theme="dark"] {
  --body_background_color: #282c34;
  --body_background: #111111;
  --secondary_color: #1d1d1d;
  --footer_color: #000000;
  --svg_color: #000000;
  --body_color: #FFFFFF;
  --body_secondary_color: #a6a6a6;
  --border_color: #3D3A3A;
  /* --link_color: cyan; */
  --button_hover_color: linear-gradient(90deg, #fa5252, #dd2476);
  --background-color-for-do: none !important;
  --border-for-do: rgb(177, 177, 177);
  --background-for-form: none;
  --background-for-edu-item-pr: none;
  --background-for-edu-item-sc: none;
  --border-color-2: #3D3A3A;
  --background-color-for-skills-and-knowladge: rgb(13 13 13)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}